/*All*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fresca', sans-serif;
}

body {
  background: #f5f5f5;
}

/*class APP*/
.app {
  display: flex;
  height: 100vh;
}

.link-navigate{
  color: black;
  text-decoration: none;
}

.link-navigate:hover{
  color: #ffeb00;
  text-decoration: none;
  font-weight: 400;
}

/* --------- Halaman Navbar -------------*/

/*class sidebar*/
.sidebar{
  width: 260px;
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  transition: margin-right 0.2s ease-in-out 0.5s;
}

/*--- Sidebar ketika collapsed dijalankan ---*/

/*class sidebar ketika collapsed dijalankan*/
.sidebar.collapsed{
  width: 80px;
}

/*class sidebar ketika collapsed dijalankan dan class menu-item*/
.sidebar.collapsed .menu-item{
  justify-content: center;
  padding: 10px;
}

/*class sidebar untuk mengatur menu icon*/
.sidebar.collapsed .menu-icon{
  padding-left: 20px;
  width: 50px;;
  height: 50px;
  
}

/*Class untuk menghilangkan tulisan saat sidebar aktif*/
.sidebar.collapsed .menu-item span{
  display: none;
}

/*class buat logo container saat sidebar aktif*/
.sidebar.collapsed .logo-container{
  width: 50px;
  height: 50px;
  justify-content: center;
}

/*class untuk menghilangkan logo text saat sidebar aktif*/
.sidebar.collapsed .logo-text{
  display: none;
}

/*class untuk menampilkan logo nalariaAI saat sidebar aktif*/
.sidebar.collapsed .logo-icon{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 40px;
  height: 40px;
}

/*class untuk menyembunyikan icon sidebar saat sidebar aktif*/
.sidebar.collapsed .collapse-btn{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: none;
  background: none;
  cursor: ew-resize;
}

/*class untuk menampilkan icon sidebar saat cursor ke arah logo nalariaAI ketika sidebar aktif*/
.sidebar.collapsed .logo-container:hover .collapse-btn{
  opacity: 1;
}

/*class untuk menyembunyikan logo nalariaAI saat cursor ke arah logo nalariaAI ketika sidebar aktif */
.sidebar.collapsed .logo-container:hover .logo-icon{
  opacity: 0;
}

/*Class untuk tombol masuk bawah pada saat sidebar aktif*/
.sidebar.collapsed .upgrade-btn{
  border: none;
}

/*Class untuk memunculkan icon masuk saat sidebar aktif*/
.sidebar.collapsed .upgrade-btn img {
  display: block;
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/*--------------------------------------------*/

/*class logo*/

/*class logo container*/
.logo-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

/*class logo image*/
.logo-img{
  transition: opacity 0.2s ease;
}

/*class logo with text*/
.logo-text{
  max-width: 130px;
  max-height: 50px;
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/*class logo without text*/
.logo-icon{
  display: none;
  position: static;
  opacity: 1;
}

/*Clas icon sidebar*/
.collapse-btn{
  position: static;
  opacity: 1;
  right: 0;
  background: none;
  border: none;
  cursor: ew-resize;
}

/*class collapse-btn untuk image*/
.collapse-btn img{
  width: 30px;
  height: 30px;
}

/*class menu*/
.menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*class menu-item*/
.menu-item{
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 20px;
}

/*class untuk tulisan menu dengan span*/
.menu-item span{
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

/*class menu icon*/
.menu-icon{
  width: 25px;
  height: 25px;
  object-fit: contain;
  margin-right: 20px;
}

/*class menu-item:hover*/
.menu-item:hover{
  background: #d9d9d9;
}

/*class untuk menu yang halaman nya sedang dibuka (aktif)*/
.menu-item.active{
  background: #d9d9d9;
  font-weight: bold;
}

/*Class upgrade-btn untuk tombol masuk bawah*/
.upgrade-btn{
  display: flex;
  padding: 5px 10px;
  border: solid 1px;
  cursor: pointer;
  border-radius: 20px;
  justify-content: center;
}

/*Class unutk tulisan tombol masuk bawah*/
.upgrade-btn span{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

/*class untuk gambar button masuk bawah*/
.upgrade-btn img{
  position: static;
  opacity: 1;
  display: none;
}

.upgrade-btn:hover{
  background: #d9d9d9;
  border: none;
}


/* --------- Halaman Beranda -------------*/

/*Class content*/
.content{
  flex: 1;
  background: #ffffff;
  padding: 40px;
  overflow-y: auto;
}

/*class content h1*/
.content h1{
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

/*class content p*/
.content p{
  font-size: 32px;
  text-align: justify;
  margin-bottom: 14px;
  line-height: 1.0;
}

/*class list-judul*/
.list-judul{
  font-size: 32px;
  text-align: justify;
  font-weight: bold;
}

/*class feature-list*/
.feature-list{
  margin-left: 20px;
  margin-bottom: 20px;
}

/*class feature-list li*/
.feature-list li{
  margin-bottom: 12px;
}

/* --------- Halaman Alat -------------*/

/*Class content*/
.content{
  flex: 1;
  background: #ffffff;
  padding: 40px;
  overflow-y: auto;
}

/*class content h1*/
.content h1{
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

/*class content subtitle*/
.content .subtitle{
  font-size: 1.5rem;
  margin-top: -15px;
  text-align: center;
  font-style: italic;
}

/*Class card container*/
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  color: black;
}

/*Class card*/
.card {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  justify-content: space-between;
  text-decoration: none !important;
}

/*Class card-header*/
.card-header{
  padding: 15px;
  width: 80px;
  height: 80px;
  object-fit: contain;
  align-items: center;
}

/*Class card-body untuk h3*/
.card-body h3{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: #444;
  text-decoration: none;
}

/*Class card-body untuk p*/
.card-body p{
  margin: 0;
  font-size: 0.8rem;
  color: #666;
  text-decoration: none;
}

/*Class card:hover*/
.card:hover{
  border: 1px solid black;
}
/*Class button filter menu alat*/

/*buat bagi kotak filternya*/
.tool-filter{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

/*buat antar tombol buttonnya*/
.tool-filter button{
  padding: 6px 20px;
  border: none;
  background: #d9d9d9;
  cursor: pointer;
  border-radius: 10px;
}

/*Buat button yang aktif tombol filternya*/
.tool-filter .active{
  background-color: #ffeb00;
  font-weight: bold;
  color: white;
}

/* --------- Halaman Detail Alat -------------*/

/*Class tool-detail*/
.tool-detail{
  text-align: center;
}

/*class tool-detail untuk h1*/
.tool-detail h1{
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

/*class upload wrapper*/
.upload-wrapper{
  display: flex;
  justify-content: center;
}

/*class upload-box untuk membngkus kotak input*/
.upload-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0 8px 20px rgba(0, 0, 0, 0.15);

  background: #ffeb00;
  padding: 10px 150px;
  border-radius: 20px;
  cursor: pointer;
}

/*class upload-box:hover*/
.upload-box:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/*class upload-icon untuk img*/
.upload-icon img{
  width: 1px;
  height: 1px;
}

/*class upload-text untuk teks "Pilih File"*/
.upload-text{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/*class upload-subtext untuk subteks*/
.upload-subtext{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

/*Class untuk file-preview*/
.file-preview{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 20px;
}

/*Class untuk file-card*/
.file-card{
  width: 180px;
  height: 220px;
  border: 1px solid #ddd;
  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  position: relative;
} 

/*clas untuk icon file*/
.file-icon{
  width: 40px;
}

/*class untuk nama file*/
.file-name{
  font-size: 14px;
  text-align: center;
  padding: 0 10px;
}

/*class untuk button remove*/
.remove-btn{
  position: absolute;
  bottom: 8px;
  left: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/*class untuk button convert*/
.convert-btn{
  background: #ffeb00;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

/*class button convert hover*/
.convert-btn:hover{
  background: #f5dc00;
}

/* --------- Halaman Kontributor-Survei -------------*/
.survey-form{
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.01);
  padding: 10px;
}

.form-group{
  margin-bottom: 8px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 22px;
}

.radio-group{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.radio-group label {
  font-weight: normal;
  margin-left: 20px;
}
.radio-group label input{
  margin-right: 5px;
}

input[type="text"],
input[type="email"],
textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type="number"]{
  width: 13%;
  padding: 12px;
  border: 1px solid;
  border-radius: 6px;
  box-sizing: border-box;
}